<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

  <a class="navbar-brand ml-lg-5" href=""><img src="../../../assets/chatify_icon.png" height="50">Chatify4Business</a>
  <button class="navbar-toggler ml-5 myNavButton" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-5">
      <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-link" *ngIf="authService.isLoggedIn() && authService.getUserRole() === 'ADMIN'"
         routerLink="/user-create" routerLinkActive="active">Create New User</a>
      <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/search" routerLinkActive="active">Search</a>
      <a class="nav-link" *ngIf="authService.isLoggedIn()" href="" (click)="authService.logoutUser()">Logout</a>
    </ul>
  </div>
</nav>
